<?xml version="1.0" encoding="ISO-8859-1" ?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>dscat</short-name>
    <tag>
        <name>listmapping</name>
        <tag-class>com.epam.training.model.tags.UrlListTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>

    <function>
        <name>calculateFibonacci</name>
        <function-class>com.epam.training.model.helpers.FibonacciNumberCalculate</function-class>
        <function-signature>long calculateFibonacci(long)</function-signature>
    </function>
</taglib>